* {
	box-sizing: border-box;
	/* interactivity */
	user-select: none;
	cursor: default;
	outline-color: var(--accent-3);
}

[aria-visible="false"] {
	display: none!important;
}

a,
button,
select,
input,
[role="button"] {
	user-select: initial;
	cursor: pointer;
}

input[type="text"],
input[type="password"] {
	cursor: text;
}

input:read-only {
	cursor: not-allowed;
	opacity: 0.8;
}


/* style */

* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
	color: var(--accent-2);
	font-weight: bold;
	transition: background-color 0.1s ease-out;
}

a:not(:disabled):hover,
a:not(:disabled):focus {
	color: var(--accent-3);
}

a:not(:disabled):active {
	color: var(--accent-1);
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr auto;
}

button {
	position: relative;
	padding: 0.5rem 0.25rem;
	color: var(--neutral-9);
	background-color: var(--accent-2);
	border-radius: 0.25rem;
	border: none;
	font-weight: bold;
	vertical-align: middle;
	transition: background-color 0.1s ease-out;
}

button:not(:disabled):hover,
button:not(:disabled):focus {
	background-color: var(--accent-3);
}

button:not(:disabled):active {
	background-color: var(--accent-1);
	top: 1px;
}

button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

main {
	overflow: auto;
}

#output {
	min-width: 50vw;
	display: block;
	color: var(--neutral-9);
	background: var(--neutral-1);
	font-family: monospace;
	margin: 0;
	overflow: auto;
	padding: 5px;
}

footer {
	grid-column: 1 / -1;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	padding: 0.25rem;
	text-align: center;
	font-size: smaller;
	background: var(--neutral-4);
	border-top: 1px solid var(--neutral-3);
}

footer ul {
	list-style: none;
	display: inline;
}

footer ul li {
	display: inline-block;
}

footer ul li:not(:last-child)::after {
	content: ' | ';
}

html {
	background-color: var(--neutral-9);
	color: var(--neutral-1);
	height: 100%;
	margin: 0;
	width: 100%;
	font-size: 0.8em;
	line-height: 1.5;
	letter-spacing: 0.05em;
}

input,
select {
	width: 100%;
	padding: 2px;
	text-align: left;
	border: solid 1px var(--neutral-3);
	border-radius: 3px;
	margin-top: 2px;
	margin-bottom: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: transparent;
	color: inherit;
}

option {
	background-color: var(--neutral-9);
}

option:hover {
	background-color: var(--accent-2);
}

input[type="checkbox"] {
	width: initial;
}

fieldset {
	border: none;
	border-bottom: 1px solid var(--neutral-3);
	padding: 1rem 0.5rem;
	display: grid;
	grid-template-columns: 8rem 1fr;
	/* fixes issue with legend taking up grid space */
	grid-template-rows: 0;
	grid-gap: 0.25rem 0.5rem;
	align-items: center;
}

fieldset legend {
	font-weight: bold;
	padding-top: 0.5rem;
}

fieldset legend,
fieldset .fill {
	grid-column: 1 / -1;
}

fieldset label {
	text-align: right;
}

fieldset a.fill {
	text-align: center;
}

progress {
	width: 100%;
}

/* project preview */
figure {
	background: var(--neutral-4);
	border-radius: 3px;
	margin: 1em;
	padding: 1em;
	border: 1px solid var(--neutral-3);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

figure img {
	flex: none;
	border: 1px solid var(--neutral-3);
	background: var(--neutral-9);
}

figure figcaption {
	flex: auto;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}
