* {
	box-sizing: border-box;
	/* interactivity */
	user-select: none;
	cursor: default;
}

a,
button,
select,
input,
[role="button"] {
	user-select: initial;
	cursor: pointer;
}

input[type="text"],
input[type="password"] {
	cursor: text;
}


/* style */

* {
	font-family: Century Gothic, sans-serif;
}


#projectCover {
	vertical-align: middle;
}

#projectText {
	font-size: .9em;
	font-style: italic;
}

#projectTitle {
	font-size: 1.1em;
}

#projectCover {
	border: 1px solid #d0d0d0;
	background: #FFF;
}

#projectPreview {
	background: #f4f4f4;
	border-radius: 3px;
	margin: 1em;
	padding: 1em;
	text-align: center;
	border: 1px solid #d0d0d0;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

#projectPreviewText {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	margin-left: 1em;
}

#targetPreview {
	cursor: not-allowed;
	background: #f4f4f4;
}

a {
	color: #FA5C5C;
	font-weight: 700;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr auto;
}

button {
	position: relative;
	padding: 5px;
	border: 1px solid #e15353;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-weight: bold;
	color: #FFF;
	background-color: #fa5c5c;
	vertical-align: middle;
}

button:active {
	top: 1px;
}

button:disabled {
	color: #FFF;
	background-color: #d0d0d0;
	border-color: #d0d0d0;
	cursor: not-allowed;
}

div#main {
	overflow: auto;
}

#output {
	min-width: 20rem;
	display: block;
	background: #666;
	color: #FFF;
	font-family: monospace;
	margin: 0;
	overflow: auto;
	padding: 5px;
}

footer {
	grid-column: 1 / -1;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	padding: 0.25rem;
	text-align: center;
	font-size: smaller;
	background: #F4F4F4;
	border-top: 1px solid #dadada;
	color: #666;
}

footer ul {
	list-style: none;
	display: inline;
}

footer ul li {
	display: inline;
}

footer ul li:not(:last-child)::after {
	content: ' | ';
}

html {
	color: #222;
	font-size: 0.8em;
	height: 100%;
	margin: 0;
	width: 100%;
}

input,
select,
#selectedFile {
	width: 100%;
	padding: 2px;
	text-align: left;
	border: solid 1px #dadada;
	border-radius: 3px;
	margin-top: 2px;
	margin-bottom: 2px;
}

input[type="checkbox"] {
	width: initial;
}

input:focus,
button:focus,
select:focus {
	outline-color: #fa5c5c;

}

input:focus:active,
button:focus:active,
select:focus:active {
	outline: none;
}

fieldset {
	border: none;
	border-bottom: 1px solid #dadada;
	padding: 1rem 0.5rem;
	display: grid;
	grid-template-columns: 8rem 1fr;
	/* fixes issue with legend taking up grid space */
	grid-template-rows: 0;
	grid-gap: 0.25rem 0.5rem;
	align-items: center;
}

fieldset legend {
	font-weight: bold;
	padding-top: 0.5rem;
}

fieldset legend,
fieldset .fill {
	grid-column: 1 / -1;
}

fieldset label {
	text-align: right;
}

fieldset a.fill {
	text-align: center;
}

progress {
	width: 100%;
}
