:root {
	--neutral-0: #000;
	--neutral-1: #222;
	--neutral-2: #666;
	--neutral-3: #DADADA;
	--neutral-4: #F4F4F4;
	--neutral-9: #FFF;
	--accent-1: #E1193B;
	--accent-2: #FF2449;
	--accent-3: #FA5C5C;
}
